html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.oswald {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.smaller {
    font-size: 0.875em;
}

.back {
    background: url("../graphic/back.jpg") center no-repeat;
    background-size: cover;
    height: 930px;
}

.transparency {
    background-color: rgba(0,0,0,0.5);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 8px 8px 32px 0 rgba(0, 0, 0, 0.36);
    border-radius: 20px;
}

.info-title {
    font-size: 4rem;
    font-weight: 700;
    color: #f0ffff;
}

.info-desc {
    font-size: 2rem;
    font-weight: 400;
    color: #f0ffff;
    
}
.color1 {
    background-color: #594438;
}
.tekst1 {
    color: #F2CDA0;
}
.tekst2 {
    color: #F2EEE9;
}
.color2 {
    background-color: #B6BFA3;
}